$primary: #FF862F;
$light: #F4F7FF;
$body-bg:  #f5f6f8;
$dark: #3C41E5;
$enable-shadows: true;
$enable-responsive-font-sizes: true;
$dark-text-emphasis: #fff;
$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #522192
);


@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

$theme-colors: map-merge($custom-theme-colors, $theme-colors);


